apiVersion: v1
kind: Secret
metadata:
  name: vetmanager-secrets
type: Opaque
stringData:
  MYSQL_HOST: CHANGE_ME_mysql_host
  MYSQL_DATABASE: vetmanager
  MYSQL_USER: vetmanager_app
  MYSQL_PASSWORD: CHANGE_ME_mysql_password
  REDIS_PASSWORD: CHANGE_ME_redis_password
  REDIS_URL: redis://:CHANGE_ME_redis_password@vetmanager-redis:6379
  INTERNAL_SECRET: CHANGE_ME_min_64_chars_random_string
  CSRF_SECRET: CHANGE_ME_min_64_chars_random_string
  FIELD_ENCRYPTION_SECRET: CHANGE_ME_min_64_chars_random_string
  AUDIT_CHAIN_SECRET: CHANGE_ME_min_64_chars_random_string
  JWT_PRIVATE_KEY: |
    -----BEGIN RSA PRIVATE KEY-----
    CHANGE_ME
    -----END RSA PRIVATE KEY-----
  JWT_PUBLIC_KEY: |
    -----BEGIN PUBLIC KEY-----
    CHANGE_ME
    -----END PUBLIC KEY-----
  JWT_PRIVATE_KEY_OLD: ""
  JWT_PUBLIC_KEY_OLD: ""
  JWT_KEYRING_JSON: ""
  SMTP_HOST: smtp.sendgrid.net
  SMTP_USER: apikey
  SMTP_PASS: CHANGE_ME_smtp_password
  EMAIL_FROM: no-reply@vetmanager.io
  FROM_EMAIL: no-reply@vetmanager.io
  STRIPE_SECRET_KEY: sk_live_CHANGE_ME
  STRIPE_WEBHOOK_SECRET: whsec_CHANGE_ME
  STRIPE_PRICE_BASIC: price_CHANGE_ME
  STRIPE_PRICE_PRO: price_CHANGE_ME
  STRIPE_PRICE_ENTERPRISE: price_CHANGE_ME
  MP_ACCESS_TOKEN: CHANGE_ME_mp_access_token
  MP_PUBLIC_KEY: CHANGE_ME_mp_public_key
  MP_WEBHOOK_SECRET: CHANGE_ME_mp_webhook_secret
  MINIO_ENDPOINT: s3.amazonaws.com
  MINIO_ACCESS_KEY: CHANGE_ME_minio_access_key
  MINIO_SECRET_KEY: CHANGE_ME_minio_secret_key
  OPENAI_API_KEY: ""
  ANTHROPIC_API_KEY: ""
  GOOGLE_CLIENT_ID: ""
  GOOGLE_CLIENT_SECRET: ""
  GOOGLE_REDIRECT_URI: https://api.vetmanager.io/documents/oauth/google/callback
  TWILIO_ACCOUNT_SID: ""
  TWILIO_AUTH_TOKEN: ""
  TWILIO_PHONE_NUMBER: ""
  TWILIO_WHATSAPP_NUMBER: ""
  FIREBASE_PROJECT_ID: ""
  FIREBASE_CLIENT_EMAIL: ""
  FIREBASE_PRIVATE_KEY: ""
  AFIP_CUIT: ""
  AFIP_CERT: ""
  AFIP_KEY: ""
